[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/--force"]
	path = bundle/--force
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/neocomplete.vim"]
	path = bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "bundle/bufkill.vim"]
	path = bundle/bufkill.vim
	url = https://github.com/vim-scripts/bufkill.vim.git
[submodule "bundle/vim-cpplint"]
	path = bundle/vim-cpplint
	url = https://github.com/MrTheodor/vim-cpplint.git
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
